# Primary Postgres
PRIMARY_POSTGRES_SERVER_URL="localhost"
PRIMARY_POSTGRES_SERVER_PORT = 5432
PRIMARY_POSTGRES_DB_NAME="cell-mon"
PRIMARY_POSTGRES_USERNAME="cell-mon"
PRIMARY_POSTGRES_PASSWORD="cell-mon"
PRIMARY_DATABASE_URL='postgres://${PRIMARY_POSTGRES_USERNAME}:${PRIMARY_POSTGRES_PASSWORD}@${PRIMARY_POSTGRES_SERVER_URL}:${PRIMARY_POSTGRES_SERVER_PORT}/${PRIMARY_POSTGRES_DB_NAME}?schema=public'

# Job Postgres
JOB_POSTGRES_SERVER_URL="localhost"
JOB_POSTGRES_SERVER_PORT = 5432
JOB_POSTGRES_DB_NAME="cell-mon-job"
JOB_POSTGRES_USERNAME="cell-mon"
JOB_POSTGRES_PASSWORD="cell-mon"
JOB_DATABASE_URL="postgres://${JOB_POSTGRES_USERNAME}:${JOB_POSTGRES_PASSWORD}@${JOB_POSTGRES_SERVER_URL}:${JOB_POSTGRES_SERVER_PORT}/${JOB_POSTGRES_DB_NAME}?schema=public"

# Redis
REDIS_SERVER_URL="localhost"
REDIS_SERVER_PORT=6379
REDIS_PASSWORD="cell-mon"
REDIS_URL = "redis://:${REDIS_PASSWORD}@localhost:6379/0"

# s3
S3_ENDPOINT ="xxxxxx"
S3_ACCESS = "xxxxxx"
S3_SECRET = "xxxxxx"
S3_BUCKET = "cell-mon"
S3_REGION = "sgp"

# Application
GRAPHQL_ENDPOINT=http://localhost:3030/graphql
GRAPHQL_CORE_ENDPOINT=http://localhost:3031/graphql

NEXT_PUBLIC_GRAPHQL_ENDPOINT = http://localhost:3030/graphql
VITE_GRAPHQL_ENDPOINT=http://localhost:3030/graphql

NODE_ENV = "development"
PORT = 3030
JWT_SECRET = secret
JWT_ISSER = cell-mon
COOKIE_SECRET = COOKIE_SECRET
HMAC_KEY = HMAC_KEY
VULTR_API_KEY=XXXX

# HLR
HLR_SERVER = "XXXX"