version: '3.8'

services:
  # jaegertracing:
  #   container_name: cell-mon-tracing
  #   image: jaegertracing/all-in-one:1.44
  #   restart: on-failure
  #   environment:
  #     COLLECTOR_OTLP_ENABLED: 'true'
  #     COLLECTOR_ZIPKIN_HOST_PORT: ':9411'
  #   volumes:
  #     - ./jaegertracing-data:/badger
  #   ports:
  #     - 6831:6831/udp
  #     - 6832:6832/udp
  #     - 5778:5778
  #     - 16686:16686
  #     - 4317:4317
  #     - 4318:4318
  #     - 14250:14250
  #     - 14268:14268
  #     - 14269:14269
  #     - 9411:9411

  postgres:
    container_name: cell-mon-postgres
    image: postgres:16-alpine
    restart: on-failure
    environment:
      - POSTGRES_HOST=${PRIMARY_POSTGRES_SERVER_URL}
      - POSTGRES_DB=${PRIMARY_POSTGRES_DB_NAME}
      - POSTGRES_USER=${PRIMARY_POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${PRIMARY_POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_SERVER_PORT}:5432
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  redis:
    container_name: cell-mon-redis
    image: redis:7-alpine
    restart: on-failure
    ports:
      - ${REDIS_SERVER_PORT}:6379
    command: --requirepass ${REDIS_PASSWORD}
